*{padding: 10px;

}
.search{color: rgb(93, 240, 191);
    border-radius: 100px;
    border-color: rgb(94, 244, 194);
    height: 30px;
    width: 150px;
    font-size: 16px;
}
.pos{border-radius:100%;
    font: size 20px;
    height: 50px;
    width: 50px;
    color: white;
    background-color: aquamarine;
    border-color: aquamarine;
    font-size: 20px;
}
.create{background-color: rgb(112, 152, 226);
    color:whitesmoke;
    border: solid black;
}