.row{display: flex;
}
.col{flex: 1;
background-color: cyan;
margin: 20px;
padding: 10px;
}
.row1{display: flex;
}
.col-1{flex: 1;
background-color: cyan;
margin:20px;
padding:10px;
}
.col-2{flex:2;
background-color: cyan;
padding: 10px;
margin:20px;
}
.row2{display:flex;
}
.col-3{flex:2;
    background-color: cyan;
    margin:20px;
    padding:10px;
}
.col-4{flex:3;
    background-color: cyan;
    margin:20px;
    padding:10px;
}