.container{
    width: 950px;
    background-color: silver;
    margin: 0px auto;
    padding: 10px;
}
.top-nav {margin: 10px;
    height: 150px;
    background-color: green;
}
.side-nav {margin:10px;
    height: 300px;
    width: 200px;
    background-color: blue;
    display: inline-block;
}
.main {display: inline-block;
    height: 400px;
    width: 700px;
    background-color: red;
    margin:10px;
    vertical-align: top;
    
}
.sub-content {
    height: 200px;
    width: 210px;
    background-color: yellow;
    display: inline-block;
    margin: 8px;
}
#advertisement {margin: 10px;
    height: 120px;
    width: 660px;
    background-color: purple;
}

