h1{color:white;
    background-color: black;
padding: 10px;}
span{ color: aqua;}
h2 {text-align: center;
    background-color: purple;
    color: white;
}
h3{padding:10px;
    text-align: right;
    background-color: cornflowerblue;
    text-decoration: underline;
    font-style: italic;
}
